.autenticacion{
    background: rgb(54, 54, 54);
    color: #fff;
}

.autenticacion:hover{
    background: rgb(75, 75, 75);
}

.titulo{
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.titulo>span{
    color: rgb(0, 67, 192);
}
