<h1>
    Notas
    <button class="btn button-propio" data-bs-toggle="modal" data-bs-target="#newPost"><i
            class="fas fa-plus"></i></button>
</h1>
<div class="row row-cols-1 row-cols-md-6 g-4" *ngFor="let post of posts">
    <app-post-element [post]="post"></app-post-element>
</div>




<div class="modal fade" id="newPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">Nuevo post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="3" [(ngModel)]="newPost.detallePost" placeholder="Nuevo post"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="create()">Guardar</button>
            </div>
        </div>
    </div>
</div>
