
.file{
    color: #fff;
    text-decoration: none;
    align-items: center;
    padding-top: 10px;
}

.file:hover{
    color:#3699ff;
}

.file>i{
    font-size: 70px;
}

.file>p{
    font-size: 20px;
}
